<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <display-name>Servlets</display-name>

    <!-- Hello Servlets -->
    <servlet>
        <servlet-name>HelloServlet</servlet-name>
        <servlet-class>com.demo2do.servlets.helloservlets.HelloServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>HelloServlet</servlet-name>
        <url-pattern>/hello-servlets/HelloServlet</url-pattern>
    </servlet-mapping>

    <!-- Form Data -->
    <servlet>
        <servlet-name>HelloForm</servlet-name>
        <servlet-class>com.demo2do.servlets.formdata.HelloForm</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>HelloForm</servlet-name>
        <url-pattern>/form-data/HelloForm</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CheckBox</servlet-name>
        <servlet-class>com.demo2do.servlets.formdata.CheckBox</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CheckBox</servlet-name>
        <url-pattern>/form-data/CheckBox</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ReadParams</servlet-name>
        <servlet-class>com.demo2do.servlets.formdata.ReadParams</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ReadParams</servlet-name>
        <url-pattern>/form-data/ReadParams</url-pattern>
    </servlet-mapping>

    <!-- Client HTTP Request -->
    <servlet>
        <servlet-name>DisplayHeader</servlet-name>
        <servlet-class>com.demo2do.servlets.clientrequest.DisplayHeader</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DisplayHeader</servlet-name>
        <url-pattern>/client-request/DisplayHeader</url-pattern>
    </servlet-mapping>

    <!-- Server HTTP Response -->
    <servlet>
        <servlet-name>Refresh</servlet-name>
        <servlet-class>com.demo2do.servlets.serverresponse.Refresh</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Refresh</servlet-name>
        <url-pattern>/server-response/Refresh</url-pattern>
    </servlet-mapping>

    <!-- Http Status Codes -->
    <servlet>
        <servlet-name>ShowError</servlet-name>
        <servlet-class>com.demo2do.servlets.httpcodes.ShowError</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ShowError</servlet-name>
        <url-pattern>/http-codes/ShowError</url-pattern>
    </servlet-mapping>

    <!-- Writing Filters -->
    <filter>
        <filter-name>LogFilter</filter-name>
        <filter-class>com.demo2do.servlets.writingfilters.LogFilter</filter-class>
        <init-param>
            <param-name>test-param</param-name>
            <param-value>Initialization Paramter</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>LogFilter</filter-name>
        <url-pattern>/writing-filters/*</url-pattern>
    </filter-mapping>

</web-app>
